<div class="container mt-5">
  <h2>Panel administratora</h2>
  <div class="tab-panel">
    <tabset class="member-tabset">
      <tab heading="Zarządzanie Użytkownikami" *appHasRole="['Admin']">
        <div class="container">
            <app-user-management></app-user-management>
        </div>
      </tab>
      <tab heading="Zarządzanie Zdjęciami" *appHasRole="['Admin', 'Moderator']">
        <app-photo-management></app-photo-management>
      </tab>
    </tabset>
  </div>
</div>
