<div class="text-center mt-3">
    <h2>Twoje dopasowania - {{pagination.totalItems}} znaleziono</h2>
  </div>

<div class="container mt-3">

    <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
        <div class="form-group">
          <label for="minAge">Wiek Od</label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="minAge"
            [(ngModel)]="userParams.minAge" name="minAge">
        </div>

        <div class="form-group px-2">
          <label for="maxAge">Wiek Do</label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge"
             [(ngModel)]="userParams.maxAge" name="maxAge">
        </div>

        <div class="form-group px-2">
          <label for="gender">Pokazuj: </label>
          <select class="form-control ml-1" style="width: 130px" id="gender"
            [(ngModel)]="userParams.gender" name="gender">
            <option *ngFor="let gender of genderList" [value]="gender.value">
              {{gender.display}}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:10px">Filtruj</button>
        <button type="button" class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">
            Resetuj
        </button>
        <div class="col">
          <div class="btn-group float-right">
            <button type="button" name="orderBy" class="btn btn-primary"
              [(ngModel)]="userParams.orderBy" (click)="loadUsers()" btnRadio="lastActive">Ostatnio Aktywny</button>
            <button type="button" name="orderBy" class="btn btn-primary"
              [(ngModel)]="userParams.orderBy" (click)="loadUsers()" btnRadio="created">Najnowszy Użytkownik</button>
          </div>
        </div>

      </form>
      <br>


  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [(ngModel)]="pagination.currentPage"
      [itemsPerPage]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

  </pagination>
</div>
