<div class="row">
<table class="table">
  <tr>
    <th style="width: 10%">Id</th>
    <th style="width: 30%">Nazwa Użytkownika</th>
    <th style="width: 40%">Aktywne Role</th>
    <th style="width: 20%"></th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.userName}}</td>
    <td>{{user.roles}}</td>
    <td><button class="btn btn-info" (click)="editRolesModal(user)">Edytuj Role</button></td>
  </tr>
</table>
</div>
