<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Znajdź swoją miłość</h1>
    <p class="lead">Wejdź by zobaczyć swoje dopasowania... Wszystko co musisz zrobić to się zarejestrować!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Rejestracja</button>
      <button class="btn btn-info btn-lg">Dowiedz się więcej</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
