<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
    <img src="{{photo.url}}" class="img-thumbnail p-1" alt="">
    <div class="text-center">
      <button type="button" class="btn btn-sm mr-1"
              [ngClass]="photo.isMain ? 'btn-success active' : 'btn-secondary'"
              (click)="setMainPhoto(photo)"
              [disabled]="photo.isMain">
        Main
      </button>
      <button type="button" class="btn btn-sm btn-danger"
              [disabled]="photo.isMain"
              (click)="deletePhoto(photo.id)">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>
</div>

<div class="row mt-3">

  <div class="col-md-3">

    <h3>Dodaj Zdjęcia</h3>

    <div ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         class="card bg-faded p-3 text-center mb-3 my-drop-zone">
      <i class="fa fa-upload fa-3x"></i>
      Upuść Zdjęcia Tutaj
    </div>

    Wiele
    <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />

    Jedno
    <input type="file" ng2FileSelect [uploader]="uploader" />
  </div>

  <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

    <h3>Kolejka wysyłania</h3>
    <p>Długość kolejki: {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Nazwa</th>
          <th>Rozmiar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Postęp kolejki:
        <div class="progress mb-4">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-s"
              (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        <span class="fa fa-upload"></span> Wyślij
      </button>
      <button type="button" class="btn btn-warning btn-s"
              (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        <span class="fa fa-ban"></span> Anuluj
      </button>
      <button type="button" class="btn btn-danger btn-s"
              (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <span class="fa fa-trash"></span> Usuń
      </button>
    </div>

  </div>

</div>
