<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
          <h1>Twój Profil</h1>
      </div>
      <div class="col-sm-8">
        <div *ngIf="editForm.dirty" class="alert alert-info">
          <strong>Informacja:</strong> Zrobiłeś zmiany.  Wszystkie niezapisane zmiany zostaną stracone!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{photoUrl || '../../../assets/user.png'}}" alt="{{user.knownAs}}">
          <div class="card-body">
            <div>
              <strong>Lokacja:</strong>
              <p>{{user.city}}, {{user.country}}</p>
            </div>
            <div>
              <strong>Wiek:</strong>
              <p>{{user.age}}</p>
            </div>
            <div>
              <strong>Ostatnio Aktywny:</strong>
              <p>{{user.lastActive | timeAgo}}</p>
            </div>
            <div>
              <strong>Użytkownik Od:</strong>
              <p>{{user.created | date: 'mediumDate'}}</p>
            </div>
          </div>
          <div class="card-footer">
              <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Zapisz Zmiany</button>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab heading="Edytuj Profil">

              <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                  <h4>Opis</h4>
                  <textarea class="form-control" name="introduction" rows="6" 
                    [(ngModel)]="user.introduction"></textarea>
                  <h4>Szukam</h4>
                  <textarea class="form-control" name="lookingFor" rows="6" 
                    [(ngModel)]="user.lookingFor"></textarea>
                    <h4>Zainteresowania</h4>
                    <textarea class="form-control" name="interests" rows="6" 
                      [(ngModel)]="user.interests"></textarea>
                    <h4>Szczegółu lokalizacji:</h4>
                  <div class="form-inline">
                    <label for="city">Miasto</label>
                    <input type="text" class="form-control" name="city" [(ngModel)]="user.city">
                    <label for="country">Kraj</label>
                    <input type="text" class="form-control" name="country" [(ngModel)]="user.country">
                  </div>
                  
              </form>

            </tab>
            <tab heading="Edytuj Zdjęcia">
              <app-photo-editor [photos]="user.photos" 
                (getMemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
