<div class="container mt-4">
  <div class="row">
    <h1>Profil {{user.knownAs}}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl || '../../../assets/user.png'}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong>Lokalizacja:</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Wiek:</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Ostatnio Aktywny:</strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Użytkownik Od:</strong>
            <p>{{user.created | date: 'mediumDate'}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Polub</button>
            <button class="btn btn-success w-100" (click)="selectTab(3)">Wiadomość</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset" #memberTabs>
          <tab heading="O {{user.knownAs}}">
            <h4>Opis</h4>
            <p>{{user.introduction}}</p>
            <h4>Szuka</h4>
            <p>{{user.lookingFor}}</p>
          </tab>
          <tab heading="Zainteresowania">
            <h4>Zainteresowania</h4>
            <p>{{user.interests}}</p>
          </tab>
          <tab heading="Zdjęcia">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="Wiadomości">
            <app-member-messages [recipientId]="user.id"></app-member-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
